
.icon-ic_timer_black_24px:before { content: '\e800'; } /* '' */
.icon-ic_settings_black_24px:before { content: '\e801'; } /* '' */
.icon-ic_refresh_black_24px:before { content: '\e802'; } /* '' */
.icon-ic_flag_black_24px:before { content: '\e803'; } /* '' */
.icon-ic_close_black_24px:before { content: '\e804'; } /* '' */